In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [2]:
#District Summary
#Calculate the total number of schools
schools_count = len(school_data_complete["school_name"].unique())
#Calculate the total number of students
student_count = len(school_data_complete["Student ID"])
#Calculate the total budget
total_budget = sum(school_data["budget"])
#Calculate the average math score
average_math = round(school_data_complete["math_score"].mean())
#Calculate the average reading score
average_reading = round(school_data_complete["reading_score"].mean())
#Calculate the percentage of students with a passing math score (70 or greater)
math_passing = ((school_data_complete["math_score"] >69).sum()/(student_count)) *100
#Calculate the percentage of students with a passing reading score (70 or greater)
reading_passing = ((school_data_complete["reading_score"] >69).sum()/(student_count)) *100
#Calculate the percentage of students who passed math and reading (% Overall Passing)
both_passing = (((school_data_complete["math_score"]>69) & (school_data_complete["reading_score"]>69)).sum()/(student_count))*100
#Create a dataframe to hold the above results
district_summary_df = pd.DataFrame({"Total Number of Schools": [schools_count], "Total Number of Students": [student_count],
                                  "Total Budget": [total_budget], "Average Math Score": [average_math], "Average Reading Score": [average_reading],
                                  "Percent Passing Math": [math_passing], "Percent Passing Reading": [reading_passing],
                                    "Percent Passing Both": [both_passing]})
#Optional: give the displayed data cleaner formatting
district_summary_df["Total Number of Students"] = district_summary_df["Total Number of Students"].astype(float).map("{:,.0f}".format)
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].astype(float).map("${:,.0f}".format)
district_summary_df["Percent Passing Math"] = district_summary_df["Percent Passing Math"].astype(float).map("{0:.0f}%".format)
district_summary_df["Percent Passing Reading"] = district_summary_df["Percent Passing Reading"].astype(float).map("{0:.0f}%".format)
district_summary_df["Percent Passing Both"] = district_summary_df["Percent Passing Both"].astype(float).map("{0:.0f}%".format)
district_summary_df

,Total Number of Schools,Total Number of Students,Total Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Passing Both
0,15,"39,170","$24,649,428",79,82,75%,86%,65%

In [38]:
school_group = school_data_complete[["school_name", "reading_score", "math_score", "type", "size", "budget"]].copy()
school_group.head()

         school_name  reading_score  math_score      type  size   budget
0  Huang High School             66          79  District  2917  1910635
1  Huang High School             94          61  District  2917  1910635
2  Huang High School             90          60  District  2917  1910635
3  Huang High School             67          58  District  2917  1910635
4  Huang High School             97          84  District  2917  1910635

In [28]:
import numpy as np
school_group.groupby(["school_name", "type", "size", "budget"]).agg(**{
    'Average Math Score': pd.NamedAgg(column='math_score', aggfunc=np.mean), 
    'Average Reading Score': pd.NamedAgg(column='reading_score', aggfunc=np.mean)})

,,,,Average Math Score,Average Reading Score
school_name,type,size,budget,,
Bailey High School,District,4976,3124928,77.048432,81.033963
Cabrera High School,Charter,1858,1081356,83.061895,83.975780
Figueroa High School,District,2949,1884411,76.711767,81.158020
Ford High School,District,2739,1763916,77.102592,80.746258
Griffin High School,Charter,1468,917500,83.351499,83.816757
Hernandez High School,District,4635,3022020,77.289752,80.934412
Holden High School,Charter,427,248087,83.803279,83.814988
Huang High School,District,2917,1910635,76.629414,81.182722
Johnson High School,District,4761,3094650,77.072464,80.966394
Pena High School,Charter,962,585858,83.839917,84.044699
Rodriguez High School,District,3999,2547363,76.842711,80.744686
Shelton High School,Charter,1761,1056600,83.359455,83.725724
Thomas High School,Charter,1635,1043130,83.418349,83.848930
Wilson High School,Charter,2283,1319574,83.274201,83.989488
Wright High School,Charter,1800,1049400,83.682222,83.955000

In [30]:
school_group["Per Student Budget"] = school_group["budget"]/school_group["size"]
school_group["% Passing Math"] = ((school_group["math_score"] >69).sum()/len(school_group["school_name"])) *100
school_group["% Passing Reading"] = ((school_group["reading_score"] >69).sum()/len(school_group["school_name"])) *100
school_group["% Overall Passing"] = (((school_group["math_score"]>69) & (school_group["reading_score"]>69)).sum()/len(school_group["school_name"]))*100
school_group.head()

,school_name,reading_score,math_score,type,size,budget,Per Student Budget,% Passing Math,% Passing Reading,% Overall Passing
0,Huang High School,66,79,District,2917,1910635,655.0,74.980853,85.805463,65.172326
1,Huang High School,94,61,District,2917,1910635,655.0,74.980853,85.805463,65.172326
2,Huang High School,90,60,District,2917,1910635,655.0,74.980853,85.805463,65.172326
3,Huang High School,67,58,District,2917,1910635,655.0,74.980853,85.805463,65.172326
4,Huang High School,97,84,District,2917,1910635,655.0,74.980853,85.805463,65.172326

In [33]:
#Top Performing Schools (By % Overall Passing)
#Sort and display the top five performing schools by % overall passing.
top_schools = school_group.sort_values("% Overall Passing")
top_schools.head()

,school_name,reading_score,math_score,type,size,budget,Per Student Budget,% Passing Math,% Passing Reading,% Overall Passing
0,Huang High School,66,79,District,2917,1910635,655.0,74.980853,85.805463,65.172326
26109,Rodriguez High School,64,64,District,3999,2547363,637.0,74.980853,85.805463,65.172326
26110,Rodriguez High School,91,98,District,3999,2547363,637.0,74.980853,85.805463,65.172326
26111,Rodriguez High School,82,84,District,3999,2547363,637.0,74.980853,85.805463,65.172326
26112,Rodriguez High School,78,88,District,3999,2547363,637.0,74.980853,85.805463,65.172326

In [34]:
#Bottom Performing Schools (By % Overall Passing)
#Sort and display the five worst-performing schools by % overall passing.
bottom_schools = school_group.sort_values("% Overall Passing", ascending=False)
bottom_schools.head()

,school_name,reading_score,math_score,type,size,budget,Per Student Budget,% Passing Math,% Passing Reading,% Overall Passing
0,Huang High School,66,79,District,2917,1910635,655.0,74.980853,85.805463,65.172326
26116,Rodriguez High School,69,57,District,3999,2547363,637.0,74.980853,85.805463,65.172326
26109,Rodriguez High School,64,64,District,3999,2547363,637.0,74.980853,85.805463,65.172326
26110,Rodriguez High School,91,98,District,3999,2547363,637.0,74.980853,85.805463,65.172326
26111,Rodriguez High School,82,84,District,3999,2547363,637.0,74.980853,85.805463,65.172326

In [35]:
#Math Scores by Grade
math_by_grade = school_data_complete[["school_name", "math_score", "grade"]]
math_by_grade_table = pd.pivot_table(math_by_grade, values='math_score', index=['school_name'],
                    columns=['grade'], aggfunc=np.mean)

new_order= ['9th','10th', '11th','12th']
math_by_grade_table = math_by_grade_table.reindex(new_order, axis=1)
math_by_grade_table.round()
#Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.
#Create a pandas series for each grade. Hint: use a conditional statement.
#Group each series by school
#Combine the series into a dataframe
#Optional: give the displayed data cleaner formatting

grade                   9th  10th  11th  12th
school_name
Bailey High School     77.0  77.0  78.0  76.0
Cabrera High School    83.0  83.0  83.0  83.0
Figueroa High School   76.0  77.0  77.0  77.0
Ford High School       77.0  78.0  77.0  76.0
Griffin High School    82.0  84.0  84.0  83.0
Hernandez High School  77.0  77.0  77.0  77.0
Holden High School     84.0  83.0  85.0  83.0
Huang High School      77.0  76.0  76.0  77.0
Johnson High School    77.0  77.0  77.0  77.0
Pena High School       84.0  83.0  84.0  84.0
Rodriguez High School  77.0  77.0  76.0  78.0
Shelton High School    83.0  83.0  83.0  84.0
Thomas High School     84.0  83.0  83.0  83.0
Wilson High School     83.0  84.0  83.0  83.0
Wright High School     83.0  84.0  84.0  84.0

In [36]:
#Reading Score by Grade
#Perform the same operations as above for reading scores
reading_by_grade = school_data_complete[["school_name", "reading_score", "grade"]]
reading_by_grade_table = pd.pivot_table(reading_by_grade, values='reading_score', index=['school_name'],
                    columns=['grade'], aggfunc=np.mean)

grade_order= ['9th','10th', '11th','12th']
reading_by_grade_table = reading_by_grade_table.reindex(grade_order, axis=1)
reading_by_grade_table.round()

grade                   9th  10th  11th  12th
school_name
Bailey High School     81.0  81.0  81.0  81.0
Cabrera High School    84.0  84.0  84.0  84.0
Figueroa High School   81.0  81.0  81.0  81.0
Ford High School       81.0  81.0  80.0  81.0
Griffin High School    83.0  84.0  84.0  84.0
Hernandez High School  81.0  81.0  81.0  81.0
Holden High School     84.0  83.0  84.0  85.0
Huang High School      81.0  82.0  81.0  80.0
Johnson High School    81.0  81.0  81.0  81.0
Pena High School       84.0  84.0  84.0  85.0
Rodriguez High School  81.0  81.0  81.0  80.0
Shelton High School    84.0  83.0  84.0  83.0
Thomas High School     84.0  84.0  84.0  84.0
Wilson High School     84.0  84.0  84.0  84.0
Wright High School     84.0  84.0  84.0  84.0

In [ ]:
#Scores by School Spending
#Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school
#spending. Include in the table each of the following:
#Reading Score by Grade
#Scores by School Spending
#Average Math Score
#Average Reading Score
#% Passing Math
#% Passing Reading
#Overall Passing Rate (Average of the above two)

In [ ]:
#Scores by School Size
#Perform the same operations as above, based on school size.

In [ ]:
#Scores by School Type
#Perform the same operations as above, based on school type