In [36]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [43]:
#District Summary
#Calculate the total number of schools
schools_count = len(school_data_complete["school_name"].unique())
#Calculate the total number of students
student_count = len(school_data_complete["Student ID"])
#Calculate the total budget
total_budget = sum(school_data["budget"])
#Calculate the average math score
average_math = round(school_data_complete["math_score"].mean())
#Calculate the average reading score
average_reading = round(school_data_complete["reading_score"].mean())
#Calculate the percentage of students with a passing math score (70 or greater)
math_passing = ((school_data_complete["math_score"] >69).sum()/(student_count)) *100
#Calculate the percentage of students with a passing reading score (70 or greater)
reading_passing = ((school_data_complete["reading_score"] >69).sum()/(student_count)) *100
#Calculate the percentage of students who passed math and reading (% Overall Passing)
both_passing = (((school_data_complete["math_score"]>69) & (school_data_complete["reading_score"]>69)).sum()/(student_count))*100
#Create a dataframe to hold the above results
district_summary_df = pd.DataFrame({"Total Number of Schools": [schools_count], "Total Number of Students": [student_count],
                                  "Total Budget": [total_budget], "Average Math Score": [average_math], "Average Reading Score": [average_reading],
                                  "Percent Passing Math": [math_passing], "Percent Passing Reading": [reading_passing],
                                    "Percent Passing Both": [both_passing]})
#Optional: give the displayed data cleaner formatting
district_summary_df["Total Number of Students"] = district_summary_df["Total Number of Students"].astype(float).map("{:,.0f}".format)
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].astype(float).map("${:,.0f}".format)
district_summary_df["Percent Passing Math"] = district_summary_df["Percent Passing Math"].astype(float).map("{0:.0f}%".format)
district_summary_df["Percent Passing Reading"] = district_summary_df["Percent Passing Reading"].astype(float).map("{0:.0f}%".format)
district_summary_df["Percent Passing Both"] = district_summary_df["Percent Passing Both"].astype(float).map("{0:.0f}%".format)
district_summary_df

,Total Number of Schools,Total Number of Students,Total Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Passing Both
0,15,"39,170","$24,649,428",79,82,75%,86%,65%

In [42]:
#School Summary
school_type = school_data_complete["type"]
student_budget = (total_budget)/(student_count)
school_group = district_summary_df.groupby(['school_name'], as_index=False, sort=False, group_keys=True)
school_group = pd.DataFrame({"School Name": [school_name], "School Type": [school_type], "Total Students": [student_count],
                                  "Total School Budget": [total_budget], "Per Student Budget": [student_budget],
                                    "Average Math Score": [average_math], "Average Reading Score": [average_reading],
                                  "% Passing Math": [math_passing], "% Passing Reading": [reading_passing],
                                    "% Overall Passing": [both_passing]})
#Create an overview table that summarizes key metrics about each school, including:
#School Name

#School Type
#school_type = school_group["type"]
#Total Students
#school_students = school_group["Student ID"].value_counts()
#Total School Budget
#school_budget = school_group["budget"].sum()
#Per Student Budget
#school_student_budget = (school_budget)/(school_students)
#Average Math Score
#school_avg_math = round(school_group["math_score"].mean())
#Average Reading Score
#school_avg_reading = round(school_group["reading_score"].mean())
#% Passing Math
#school_math_passing = ((school_group["math_score"] >69).sum()/(school_students)) *100
#% Passing Reading
#school_reading_passing = ((school_group["reading_score"] >69).sum()/(school_students)) *100
#% Overall Passing (The percentage of students that passed math and reading.)
#school_both_passing = (((school_group["math_score"]>69) & (school_group["reading_score"]>69)).sum()/(school_students))*100
#Create a dataframe to hold the above results
#school_summary_df = pd.DataFrame({"School Type": [school_type], "Total Students": [school_students],
                                  #"Total School Budget": [school_budget], "Average Math Score": [school_avg_math], 
                                  #"Average Reading Score": [school_avg_reading], "% Passing Math": [school_math_passing], 
                                  #"% Passing Reading": [school_reading_passing], "% Overall Passing": [school_both_passing]})
school_group.head()

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,0 Huang High School 1 Huang Hi...,0 District 1 District 2 D...,39170,24649428,629.293541,79,82,74.980853,85.805463,65.172326

In [ ]:
#Top Performing Schools (By % Overall Passing)
#Sort and display the top five performing schools by % overall passing.

In [ ]:
#Bottom Performing Schools (By % Overall Passing)
#Sort and display the five worst-performing schools by % overall passing.

In [ ]:
#Math Scores by Grade
#Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.
#Create a pandas series for each grade. Hint: use a conditional statement.
#Group each series by school
#Combine the series into a dataframe
#Optional: give the displayed data cleaner formatting

In [ ]:
#Reading Score by Grade
#Perform the same operations as above for reading scores

In [ ]:
#Scores by School Spending
#Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school
#spending. Include in the table each of the following:
#Reading Score by Grade
#Scores by School Spending
#Average Math Score
#Average Reading Score
#% Passing Math
#% Passing Reading
#Overall Passing Rate (Average of the above two)

In [ ]:
#Scores by School Size
#Perform the same operations as above, based on school size.

In [ ]:
#Scores by School Type
#Perform the same operations as above, based on school type